<%- include('./partials/header.ejs'); -%>

<div class="container">

    <div class="wrapper">
        <h1 style="color:white; text-align: center;">Custom name <%= customName %> already exists!</h1>
        <p style="color:white; text-align: center;">Please choose a different name.</p>
        <div class="text-center d-grid gap-2">
            <a class="btn btn-warning" href="/">Go Back</a>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs'); -%>